
@media(max-width: 430px){
p
{
    font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
div.container
{
    display: grid; grid-template-columns: 80% 20%;
    width: 100%;
}
.answers_area
{
    display: flex;
    flex-direction: column;
}
.answers_area>div
{
    padding: 5%;
    margin: 5px;
    border: 1px solid #BBB;
    height: auto;
    text-align: justify;
    display: flex;
    align-items: center;
}
.answers_area>div:hover
{
    cursor: pointer;
}
.answers_area>div>p
{
    margin: 0px;
}
.question_area
{
    background-color: white; height: auto;
}
.question
{
    padding: 5px 20px;
}
img
{
    height: 100px;
}
p
{
    text-align: justify;
}
.question_data>p
{
    padding: 0px 5px;
}
.number_question
{
    position: sticky;
    left:100vh;
    top:2%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    margin-left: 10px;
    overflow-y: auto;
}
.link_question
{
    height: 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px #BBB solid;
    margin: 5px;
}
.link_question>div
{
    color: black;
    font-size: 14px;
}
hr
{
    width: 85%;
    height: 2px;
}
.answers_area img
{
    width: 100%;
    height: auto;
}
}